extends ./layout/index.pug 

block contenido
    main.container.mt-5 
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote eifend neque, ut egestas sem. Cras sit amet tristique nibh. In feugiat leo massa, quis scelerisque mauris rhoncus sit amet. Proin eget pretium enim. Maecenas sit amet sapien ligestas nulla.
                p Pellent justo  tempor euismod sagittis. In iaculis sapien nec tellus tincidunt, quis puulum et rhoncus ante, semper dictum sapien. Vivamus suscipit ornare elit non scumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                p Aliquam erat volutpat. Vestibx seam erat volutpat. Vestibx seam erat volutpat. Vestibx sem viverra quam, sit amet molestie lectus magna sed ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut dictum leo turpis, sed feugiat ligula tristique quis.
                
    .listado-iconos
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4
                    img(src='img/icono_seguridad.svg', alt='icono seguridad', class='img-fluid mb-4')
                    h2.mb-4 Seguridad 
                    p quam erat volutpat. Vestibx seam erat volutpat. Vestibquam erat volutpat. Vestibx seam erat volutpat. Vestib

                .col-md-4
                    img(src='img/icono_destinos.svg', alt='icono seguridad', class='img-fluid mb-4')
                    h2.mb-4 Destinos Maravillosos
                    p quam erat volutpat. Vestibx seam erat volutpat. Vestibquam erat volutpat. Vestibx seam erat volutpat. Vestib

                .col-md-4
                    img(src='img/icono_precios.svg', alt='icono seguridad', class='img-fluid mb-4')
                    h2.mb-4 Mejores Precios
                    p quam erat volutpat. Vestibx seam erat volutpat. Vestibquam erat volutpat. Vestibx seam erat volutpat. Vestib
